/*
CSS File

Sections are as follow:

Globals
Header
Footer
Main
Shop
About Us
Contact Us
*/ 

/*                                        
 #     #                                    
 #     # ######   ##   #####  ###### #####  
 #     # #       #  #  #    # #      #    # 
 ####### #####  #    # #    # #####  #    # 
 #     # #      ###### #    # #      #####  
 #     # #      #    # #    # #      #   #  
 #     # ###### #    # #####  ###### #    #    
*/
.navbar {
  background-color: #6c6c6e9d;
}
/*                                
 #######                                   
 #        ####   ####  ##### ###### #####  
 #       #    # #    #   #   #      #    # 
 #####   #    # #    #   #   #####  #    # 
 #       #    # #    #   #   #      #####  
 #       #    # #    #   #   #      #   #  
 #        ####   ####    #   ###### #    #    
*/
footer {
  background-color: #6c6c6e9d;
}    

/*                      
 #     #                 
 ##   ##   ##   # #    # 
 # # # #  #  #  # ##   # 
 #  #  # #    # # # #  # 
 #     # ###### # #  # # 
 #     # #    # # #   ## 
 #     # #    # # #    # 
*/
.carousel .carousel-item img {
  height: 350px;
  width: 100%;
}

/*
  #####                       
 #     # #    #  ####  #####  
 #       #    # #    # #    # 
  #####  ###### #    # #    # 
       # #    # #    # #####  
 #     # #    # #    # #      
  #####  #    #  ####  #       
*/ 

.card {
  width: 18rem;
  margin: 0px 5px;
}     

#message {
  display: none;
  padding: 20px; 
  width: 300px; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  z-index: 9999;
  text-align: center;
  opacity: 0.8;
}

.cart-item-image {
  max-width: 200px;
  height: auto;
}

#shoppingCart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

#viewCartBtn {
  width: 60px;
  height: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon {
  width: 40px;
  height: 40px;
}

/*
    #                                 #     #        
   # #   #####   ####  #    # #####   #     #  ####  
  #   #  #    # #    # #    #   #     #     # #      
 #     # #####  #    # #    #   #     #     #  ####  
 ####### #    # #    # #    #   #     #     #      # 
 #     # #    # #    # #    #   #     #     # #    # 
 #     # #####   ####   ####    #      #####   ####  
*/

/* 
  #####                                            #     #        
 #     #  ####  #    # #####   ##    ####  #####   #     #  ####  
 #       #    # ##   #   #    #  #  #    #   #     #     # #      
 #       #    # # #  #   #   #    # #        #     #     #  ####  
 #       #    # #  # #   #   ###### #        #     #     #      # 
 #     # #    # #   ##   #   #    # #    #   #     #     # #    # 
  #####   ####  #    #   #   #    #  ####    #      #####   ####  
*/


address {
  margin: 0;
}

.card-img {
  transition: transform 0.3s ease-out; /* Adjust the transition duration as desired */
  position: relative;
  z-index: 1; /* Set a higher z-index value */
}

.card-img:hover {
  transform: scale(2); /* Adjust the scale value as desired */
  object-fit: contain;
  position: relative; /* Change the position to relative */
  z-index: 2; /* Set a higher z-index value */
}

.alert {
  opacity: 0.8; /* Adjust the opacity as desired */
  margin: 0;
  padding: 0;
}

.alert,
p {
  color: black;
  opacity: 0.9;
}


